@page "/Info/{id:int}"
@inject DatabaseContext DbContext


<h3>Info</h3>

@if (pokemon is not null)
{

   
    
    <div class="card">
        <div class="card-body bg-light"> </div>
        <h3> @pokemon?.Name </h3>
        
        <p>HP: @pokemon?.HP</p>
        <p>Attack: @pokemon?.Attack</p>
        <p>Defence: @pokemon?.Defence</p>
        <p>Speed: @pokemon?.Speed</p>
        <p>Total: @pokemon?.Total</p>

    </div>
     
        
    


     





    
}
else
{
    <p>No pokemon found for that Id</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
    }
}
