@page "/Info/{id:int}"
@inject DatabaseContext DbContext


<h3>Info</h3>

@if (pokemon is not null)
{

   
    
    <div class="card">
        <div class="card-body bg-light"> </div>
        <h1> @pokemon?.Name </h1>

        <h5> <span class="badge rounded-pill text-bg-primary">@pokemon?.Type</span> <span class="badge rounded-pill text-bg-success"> Generation @pokemon?.Generation</span> </h5> 

        <p>
           
        <p> HP:   
            
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="@pokemon.HP" aria-valuemin="0" aria-valuemax="255">
                <div class="progress-bar" style="width: @(pokemon.HP*100/255)% "> @pokemon?.HP% </div>
            </div>
        </p>
        </p>

        <p>   Attack: <div class="progress" role="progressbar" aria-label="danger" aria-valuenow="@pokemon.Attack" aria-valuemin="0" aria-valuemax="255">
                <div class="progress-bar bg-danger" style="width: @(pokemon.Attack*100/255)% "> @pokemon?.Attack% </div>
            </div> 
        </p>

        <p> Defence: @pokemon?.Defence</p>
        <p> Speed: @pokemon?.Speed</p>
        <p> Total: @pokemon?.Total</p>

    </div>
     
        
    


     





    
}
else
{
    <p>No pokemon found for that Id</p>
}

@code {
    [Parameter]
    public int Id { get; set; }

    private Pokemon? pokemon;

    protected override void OnInitialized()
    {
        pokemon = DbContext.Pokemons.SingleOrDefault(p => p.Id == Id);
    }
}
